{% extends 'main.html' %}

{% block content %}

<div>   
    <h2>Shto / Stock per Produktin: {{ product.name }}</h2>
    <p>Stoku Aktual: {{ product.stock_quantity }}</p>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Regjistro Levizjen</button>
    </form>
    
    <ul>
        <li><a href="{% url 'product_detail'  product.id %}">Product Detail</a></li>
        <li><a href="{% url 'category_detail' product.category.id %}">Category Detail</a></li>
    </ul>
</div>


{% endblock content %}