{% extends 'main.html' %}

{% block content %}

<div>
    
    <p>Category: {{ category.name }}</p>
    <p>Description: {{ category.description }}</p>

    <ul>
        <li><a href="{% url 'create_product' category.id %}">+ Shto Produkt të Ri</a></li>
    </ul>

    <h3>Information for Products:</h3>

        {% if products %}
        <ul>
            {% for product in products %}
                <li><a href="{% url 'product_detail'  product.id %}"><strong>{{ product.name }}</strong></a></li>
                <li>Description: {{ product.description }}</li>
                <li>Price: {{ product.price }}</li>
                <li>Stock: {{ product.stock_quantity }}</li>
                <li>Min Stok: {{ product.minimum_stock}}</li>

                <br>
                <ul>
                    <li><a href="{% url 'product_update' product.id %}">Update Product</a></li>
                    <li><a href="{% url 'delete_product' product.id %}">Delete Product</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
                
                <br><br>
            {% endfor %}
        </ul>
        {% else %}
            <p>Nuk ka produkte për të shfaqur.</p>
        {% endif %}

</div>


{% endblock content %}